$primary-color: #eb2f64;
$primary-light-color: #ff3366;
$primary-dark-color: #ba265d;

$white-primary-color: #FFF;
$white-secondary-color: #EBF2F2;

$dark-primary-color: #1B1F23;
$dark-secondary-color: #262A2D;

$gray-dark-color: #525252;
$gray-color: #666;
$gray-light-color: #c0c0c0;
$gray-light2-color: #F2F2F2;

$blue-color: #0066CC;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 43.75em; // 700px
$bp-smallest: 34.38em; // 550px

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
}

.container {
  display: block;
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

@mixin ellipsis($line-count, $line-height){
  display: -webkit-box;
  line-height: $line-height;
  overflow:hidden;
  vertical-align:top;
  text-overflow: ellipsis;
  word-break:break-all;
  -webkit-box-orient:vertical;
  -webkit-line-clamp: $line-count
}

#root {
  width: 100%;
  height: 100vh;
}

.background {
  background-color: $white-primary-color;
  width: 100%;
  height: 100%;

  &.dark {
    background-color: $dark-primary-color;
  }
}