.project-body {
  background-color: $white-primary-color;
  color: $dark-primary-color;

  &.dark {
    background-color: $dark-primary-color;
    color: $white-primary-color;
  }

  .container {
    padding: 5rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 5rem;

    @media only screen and (max-width: 750px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-smallest) {
      grid-template-columns: 1fr;
      padding: 2rem;
    }
  }
}

.project-item {
  cursor: pointer;
  text-decoration: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-family: 'Nunito', sans-serif;
  color: $dark-primary-color;
  transition: all .2s ease-in-out;

  &.dark {
    color: $white-primary-color;
  }

  &:hover {
    .project-item__image {
      &::before {
        opacity: 1;
      }
    }
  }

  &__image {
    height: 24rem;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($gray-light2-color, .3);
      z-index: 2;
      opacity: 0;
      transition: all .2s ease-in-out;
    }

    @media only screen and (max-width: $bp-largest) {
      height: 20rem;
    }

    @media only screen and (max-width: $bp-medium) {
      height: 16rem;
    }

    @media only screen and (max-width: 750px) {
      height: 20rem;
    }

    @media only screen and (max-width: 650px) {
      height: 17rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      height: 24rem;
    }

    @media only screen and (max-width: 480px) {
      height: 20rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin: 1.5rem 0 .3rem 0;
    font-size: 1.8rem;
    font-weight: 500;
    transition: all .2s ease-in-out;

    @media only screen and (max-width: $bp-largest) {
      font-size: 1.5rem;
    }
  }

  &__text {
    font-size: 1.3rem;
    line-height: 1.7;

    @media only screen and (max-width: $bp-largest) {
      font-size: 1.2rem;
    }
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;

    *:not(:last-child) {
      margin-right: .6rem;
    }
  }

  &__skill {
    list-style: none;
    padding: .4rem .8rem;
    color: white !important;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    margin: .6rem 0;
  }
}

.work {
  background-color: $blue-color !important;
}

.toy {
  background-color: $gray-color !important;
}

.study {
  background-color: $primary-color !important;
}