.gallery {
  &__image {
    height: 20rem;
    cursor: pointer;
    outline: none;
    transition: opacity .25s ease-in-out;
    padding: .5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 5px solid $white-secondary-color;
      border-radius: 5px;
    }

    &:hover {
      opacity: .7;
    }
  }

  &__image.dark {
    img {
      border: 5px solid $dark-secondary-color;
      border-radius: 5px;
    }
  }
}