* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.container {
  display: block;
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem; }

#root {
  width: 100%;
  height: 100vh; }

.background {
  background-color: #FFF;
  width: 100%;
  height: 100%; }
  .background.dark {
    background-color: #1B1F23; }

.btn {
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-size: 1.3rem;
  color: #1B1F23;
  text-decoration: none;
  font-weight: 800;
  border: 2px solid #1B1F23;
  border-radius: 2px;
  z-index: 1;
  padding: .8rem 1.2rem;
  cursor: pointer;
  outline: none;
  transition: color .2s ease-in-out, border .2s ease-in-out, background-color .2s ease-out .1s; }
  .btn.dark {
    color: #FFF;
    border: 2px solid #FFF; }
  .btn:hover {
    color: #FFF; }
  .btn:hover.dark {
    color: #1B1F23; }
  .btn::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #1B1F23;
    z-index: -1;
    transition: width .2s ease-out .1s; }
  .btn.dark::after {
    background-color: #FFF !important; }
  .btn:hover::after {
    width: 100%; }

.header {
  background-color: #FFF;
  padding: 1.5rem 0; }
  @media only screen and (max-width: 56.25em) {
    .header {
      padding: .5rem 0; } }
  .header.dark {
    background-color: #1B1F23; }
  .header__logo {
    width: 50px; }
    @media only screen and (max-width: 68.75em) {
      .header__logo {
        width: 55px; } }
    @media only screen and (max-width: 56.25em) {
      .header__logo {
        width: 40px; } }
  .header__brand {
    display: flex;
    margin-left: 1rem;
    align-items: flex-start;
    color: #eb2f64;
    text-decoration: none;
    font-size: 2.3rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700; }
    @media only screen and (max-width: 56.25em) {
      .header__brand {
        align-items: center;
        margin-left: 0; } }
  .header__link {
    color: #1B1F23;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    cursor: pointer;
    transition: color .2s ease-in-out; }
    .header__link.dark {
      color: #FFF; }
    .header__link:hover {
      color: #eb2f64; }
  .header__nav {
    list-style: none;
    display: flex;
    align-items: center; }
    .header__nav > :first-child {
      margin-right: auto; }
    .header__nav > *:not(:first-child) {
      margin-right: 3rem; }
    .header__nav > :last-child {
      margin-right: 0; }

.toggle {
  position: relative;
  width: 4.5rem;
  height: 1.5rem;
  background-color: #ccdede;
  border-radius: 3rem;
  box-shadow: inset 0 0.2rem 1rem rgba(235, 242, 242, 0.8);
  transition: all .2s ease-in-out; }
  .toggle.dark {
    background-color: #32373b;
    box-shadow: none; }

.circle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #1B1F23;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all .2s ease-in-out; }
  .circle.dark {
    background-color: #FFF; }
  .circle i {
    font-size: 1.5rem;
    color: #FFF;
    transition: all .2s ease-in-out; }
    .circle i.dark {
      color: #1B1F23; }

.move {
  left: 2.5rem; }

@media only screen and (max-width: 56.25em) {
  .web-link {
    display: none; } }

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EBF2F2;
  transform: translateY(-100%);
  transition: all .5s ease-in-out;
  z-index: 5; }
  .mobile-nav__mode {
    position: absolute;
    left: 30px;
    top: 30px; }
  .mobile-nav.dark {
    background-color: #1B1F23; }
  .mobile-nav.show {
    transform: translateY(0); }
  .mobile-nav__toggle {
    font-size: 2.5rem;
    color: #1B1F23;
    display: none;
    transition: all .2s ease-in-out;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .mobile-nav__toggle {
        display: block; } }
    .mobile-nav__toggle.dark {
      color: #FFF; }
    .mobile-nav__toggle:hover {
      color: #eb2f64; }
  .mobile-nav__container {
    padding: 70px 20px 0 30px;
    list-style: none;
    display: flex;
    flex-direction: column; }
    .mobile-nav__container li {
      position: relative; }
    .mobile-nav__container li::after {
      left: 0;
      bottom: 0;
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #666; }
  .mobile-nav__item {
    position: relative;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: #1B1F23;
    font-size: 33px;
    font-weight: 700;
    padding: 10px 0;
    transition: all .2s ease-in-out; }
    .mobile-nav__item.dark {
      color: #FFF; }
    @media only screen and (max-width: 56.25em) {
      .mobile-nav__item {
        font-size: 25px; } }
    @media only screen and (max-width: 43.75em) {
      .mobile-nav__item {
        font-size: 20px; } }
    @media only screen and (max-width: 34.38em) {
      .mobile-nav__item {
        font-size: 18px; } }
    .mobile-nav__item:hover {
      color: #eb2f64; }
  .mobile-nav__close {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 2.5rem;
    color: #1B1F23;
    cursor: pointer;
    transition: all .2s ease-in-out; }
    .mobile-nav__close.dark {
      color: #FFF; }
    .mobile-nav__close:hover {
      color: #eb2f64; }

.footer {
  padding: 4rem 0;
  font-family: 'Nunito', sans-serif;
  background-color: #FFF; }
  .footer.dark {
    background-color: #1B1F23; }
  .footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #c0c0c0;
    color: #525252; }
    .footer__top.dark {
      color: #EBF2F2; }
  .footer__icons {
    display: flex;
    align-items: center; }
    .footer__icons > *:not(:last-child) {
      margin-right: .6rem; }
    .footer__icons a {
      position: relative;
      text-decoration: none;
      color: #525252;
      font-size: 2rem;
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2; }
      .footer__icons a::after {
        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        border: 1px solid #c0c0c0;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        transition: all .2s ease-in-out; }
      .footer__icons a:hover::after {
        box-shadow: inset 0 0 10rem rgba(192, 192, 192, 0.4); }
    .footer__icons.dark a {
      color: #EBF2F2; }
  .footer__bottom {
    padding-top: 2rem; }
    .footer__bottom span {
      display: inline-block;
      margin-top: .3rem;
      color: #525252;
      font-size: 1.2rem; }
    .footer__bottom.dark span {
      color: #EBF2F2; }
  .footer__info {
    display: flex;
    list-style: none;
    font-size: 1.2rem;
    flex-wrap: wrap; }
    .footer__info > *:first-child {
      color: #525252; }
      @media only screen and (max-width: 34.38em) {
        .footer__info > *:first-child {
          display: none; } }
    @media only screen and (max-width: 34.38em) {
      .footer__info > *:nth-child(3) {
        display: none; } }
    .footer__info > *:not(:first-child) {
      color: #c0c0c0; }
    .footer__info > *:not(:last-child) {
      padding-right: .8rem; }
      .footer__info > *:not(:last-child)::after {
        padding-left: .8rem;
        content: ' |';
        display: inline-block;
        font-size: .5rem;
        color: #c0c0c0; }
    .footer__info.dark > *:first-child {
      color: #EBF2F2; }
    .footer__info.dark > *:not(:first-child) {
      color: #525252; }
    .footer__info.dark > *:not(:last-child)::after {
      color: #525252; }

.banner {
  background-color: #EBF2F2; }
  .banner.dark {
    background-color: #262A2D; }
  .banner .container {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
    @media only screen and (max-width: 68.75em) {
      .banner .container {
        display: block;
        position: relative;
        overflow: hidden; } }
    @media only screen and (max-width: 56.25em) {
      .banner .container {
        align-items: center;
        justify-content: center; } }
  .banner__intro {
    height: 322px;
    flex: 1; }
    @media only screen and (max-width: 68.75em) {
      .banner__intro {
        position: relative;
        z-index: 2; } }
  .banner__gallery {
    height: 322px;
    flex: 0 0 60%;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 68.75em) {
      .banner__gallery {
        position: absolute;
        right: -5%;
        top: 10%;
        z-index: 1; } }
    @media only screen and (max-width: 56.25em) {
      .banner__gallery {
        right: -15%;
        top: 15%; } }
    @media only screen and (max-width: 43.75em) {
      .banner__gallery {
        right: -40%;
        top: 35%; } }
    @media only screen and (max-width: 34.38em) {
      .banner__gallery {
        display: none; } }
  .banner__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    @media only screen and (max-width: 68.75em) {
      .banner__image {
        opacity: .3; } }
  .banner__subject {
    font-family: 'Nunito', sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    height: 322px;
    color: #1B1F23;
    transition: all .2s ease-in-out; }
    @media only screen and (max-width: 34.38em) {
      .banner__subject {
        align-items: center;
        font-size: 1.8rem; } }
    .banner__subject div {
      z-index: 1; }
    .banner__subject.dark {
      color: #FFF; }
    .banner__subject span {
      display: flex;
      align-items: center; }
  .banner__title {
    color: #eb2f64;
    font-weight: bold;
    display: inline-block;
    font-size: 2.1rem; }

.skills-info {
  background-color: #FFF;
  padding: 4rem 0; }
  .skills-info.dark {
    background-color: #1B1F23; }
  .skills-info__title {
    font-size: 2.4rem;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 2.5rem;
    color: #1B1F23; }
    .skills-info__title.dark {
      color: #EBF2F2; }
  .skills-info__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem; }
    @media only screen and (max-width: 75em) {
      .skills-info__box {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem; } }
    @media only screen and (max-width: 43.75em) {
      .skills-info__box {
        grid-template-columns: 1fr; } }
  .skills-info__item {
    color: #1B1F23;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    border: 2px solid #EBF2F2;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Nunito', sans-serif;
    transition: transform .2s ease-in-out; }
    @media only screen and (max-width: 75em) {
      .skills-info__item {
        padding: 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .skills-info__item {
        padding: 5rem 3rem; } }
    @media only screen and (max-width: 43.75em) {
      .skills-info__item {
        padding: 5rem 6rem; } }
    @media only screen and (max-width: 43.75em) {
      .skills-info__item {
        padding: 5rem 3rem; } }
    .skills-info__item:hover {
      transform: translateY(-5px);
      box-shadow: 0 2rem 4rem rgba(102, 102, 102, 0.2); }
      .skills-info__item:hover h1 {
        color: #eb2f64; }
    .skills-info__item h1 {
      color: #1B1F23;
      font-weight: 800;
      font-size: 2rem;
      margin: 2.5rem 0 1.5rem 0;
      transition: all .2s ease-in-out; }
    .skills-info__item p {
      font-size: 1.7rem;
      text-align: center;
      color: #262A2D; }
    .skills-info__item i {
      font-size: 4.5rem;
      color: #1B1F23; }
    .skills-info__item.dark {
      border: 2px solid #262A2D; }
      .skills-info__item.dark h1 {
        color: #FFF; }
      .skills-info__item.dark p {
        color: #c0c0c0; }
      .skills-info__item.dark i {
        color: #EBF2F2; }
      .skills-info__item.dark:hover {
        transform: translateY(-5px);
        box-shadow: inset 0 0 10rem rgba(102, 102, 102, 0.2);
        border: 2px solid #666; }
        .skills-info__item.dark:hover h1 {
          color: #eb2f64; }

.projects-info {
  background-color: #EBF2F2;
  padding: 4rem 0; }
  .projects-info.dark {
    background-color: #262A2D; }
  .projects-info__subject {
    font-size: 2.4rem;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 2.5rem;
    color: #1B1F23; }
    .projects-info__subject.dark {
      color: #EBF2F2; }
  .projects-info__prev, .projects-info__next {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    padding: 2rem;
    background-color: #FFF;
    border: 1px solid #c0c0c0;
    transition: all .2s ease-in-out; }
    @media only screen and (max-width: 34.38em) {
      .projects-info__prev, .projects-info__next {
        display: none; } }
    .projects-info__prev:hover, .projects-info__next:hover {
      background-color: #FFF;
      box-shadow: 0.2rem 0.2rem 1rem rgba(192, 192, 192, 0.6); }
    .projects-info__prev.dark:hover, .projects-info__next.dark:hover {
      box-shadow: inset 0rem 0rem 10rem rgba(192, 192, 192, 0.5); }
    .projects-info__prev i, .projects-info__next i {
      font-size: 2.5rem;
      opacity: 1;
      color: #525252;
      line-height: 1.6; }
    .projects-info__prev::before, .projects-info__next::before {
      display: none; }
  .projects-info__prev {
    margin-left: 1.2rem; }
  .projects-info__next {
    margin-right: 1.2rem; }
  .projects-info__item {
    color: #1B1F23;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #FFF;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Nunito', sans-serif;
    cursor: pointer; }
    .projects-info__item:hover .projects-info__image-box::before {
      opacity: 1; }
    .projects-info__item.dark {
      border: 2px solid #1B1F23; }
  .projects-info__content {
    padding: 0 .7rem; }
  .projects-info__image-box {
    height: 15rem;
    width: 100%;
    position: relative; }
    .projects-info__image-box::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(242, 242, 242, 0.3);
      z-index: 2;
      opacity: 0;
      transition: all .2s ease-in-out; }
  .projects-info__image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .projects-info__title {
    margin: .8rem 0;
    font-size: 1.8rem;
    display: -webkit-box;
    line-height: 1.4;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #1B1F23; }
    @media only screen and (max-width: 34.38em) {
      .projects-info__title {
        display: -webkit-box;
        line-height: 1.4;
        overflow: hidden;
        vertical-align: top;
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; } }
    .projects-info__title.dark {
      color: #FFF; }
    .projects-info__title h1 {
      transition: all .2s ease-in-out; }
  .projects-info__detail {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-around; }
  .projects-info__period {
    margin-right: 2rem; }
  .projects-info__period, .projects-info__member {
    display: flex;
    margin-bottom: .6rem;
    align-items: center;
    font-weight: 700;
    font-size: 1.3rem;
    color: #1B1F23; }
    .projects-info__period i, .projects-info__member i {
      font-size: 1.8rem; }
    .projects-info__period.dark, .projects-info__member.dark {
      color: #FFF; }
  .projects-info__member span {
    position: relative;
    z-index: 2;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem; }
    .projects-info__member span::before {
      z-index: -1;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 2rem;
      height: 2rem;
      background-color: #0066CC;
      border-radius: 50%; }
  .projects-info__skills {
    list-style: none;
    display: flex;
    align-content: center;
    margin-bottom: 1rem;
    flex-wrap: wrap; }
    .projects-info__skills > *:not(:last-child) {
      margin-right: -.6rem; }
    .projects-info__skills div {
      overflow: hidden;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: #FFF; }
    .projects-info__skills img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .projects-info__skills.dark div {
      background-color: #1B1F23; }

.self-intro {
  background-color: #EBF2F2;
  padding: 5rem 0;
  font-family: 'Nunito', sans-serif; }
  .self-intro.dark {
    background-color: #262A2D; }
  .self-intro__title {
    margin-bottom: 2.5rem; }
    .self-intro__title h3 {
      font-size: 2rem;
      color: #262A2D; }
      @media only screen and (max-width: 68.75em) {
        .self-intro__title h3 {
          font-size: 1.8rem; } }
      @media only screen and (max-width: 34.38em) {
        .self-intro__title h3 {
          font-size: 1.7rem; } }
    .self-intro__title.dark h3 {
      color: #EBF2F2; }
  .self-intro__keywords {
    list-style: none;
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .self-intro__keywords {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem; } }
    .self-intro__keywords > li {
      position: relative;
      padding: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 15rem; }
      @media only screen and (max-width: 56.25em) {
        .self-intro__keywords > li {
          flex-direction: row;
          width: 100%;
          justify-content: flex-start; } }
      @media only screen and (max-width: 34.38em) {
        .self-intro__keywords > li {
          padding: 1rem; } }
      .self-intro__keywords > li i {
        position: relative;
        z-index: 2;
        font-size: 3.5rem;
        color: #eb2f64;
        margin-bottom: 1rem; }
        @media only screen and (max-width: 56.25em) {
          .self-intro__keywords > li i {
            font-size: 2.8rem;
            margin-bottom: 0;
            margin-right: 1rem; } }
        @media only screen and (max-width: 34.38em) {
          .self-intro__keywords > li i {
            font-size: 2.1rem; } }
      .self-intro__keywords > li p {
        position: relative;
        font-size: 1.5rem;
        font-weight: 400;
        z-index: 2;
        color: #262A2D; }
        @media only screen and (max-width: 56.25em) {
          .self-intro__keywords > li p {
            margin-right: .5rem; } }
        @media only screen and (max-width: 34.38em) {
          .self-intro__keywords > li p {
            font-size: 1.3rem; } }
      .self-intro__keywords > li::after {
        border-radius: 50%;
        z-index: 1;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 4rem 2rem;
        background-color: #f4f8f8; }
        @media only screen and (max-width: 56.25em) {
          .self-intro__keywords > li::after {
            border-radius: 5px; } }
        @media only screen and (max-width: 34.38em) {
          .self-intro__keywords > li::after {
            padding: 2rem; } }
    .self-intro__keywords.dark > li p {
      color: #EBF2F2; }
    .self-intro__keywords.dark > li::after {
      background-color: #2d3235; }
    .self-intro__keywords > *:not(:last-child) {
      margin-right: 4rem; }
      @media only screen and (max-width: 68.75em) {
        .self-intro__keywords > *:not(:last-child) {
          margin-right: 3.5rem; } }
  .self-intro__introduce {
    padding-top: 5rem;
    font-family: 'Nunito', sans-serif;
    color: #262A2D; }
    .self-intro__introduce.dark {
      color: #EBF2F2; }
    .self-intro__introduce h2 {
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 1rem; }
    .self-intro__introduce p {
      font-size: 1.5rem;
      line-height: 1.8;
      font-weight: 400; }

.skill-intro {
  background-color: #FFF;
  padding: 5rem 0;
  font-family: 'Nunito', sans-serif; }
  @media only screen and (max-width: 56.25em) {
    .skill-intro .container > *:not(:last-child) {
      margin-bottom: 8rem; }
    .skill-intro .container > :first-child {
      margin-bottom: 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .skill-intro {
      padding: 5rem 0 0 0; } }
  .skill-intro.dark {
    background-color: #1B1F23; }
  .skill-intro__title {
    color: #1B1F23;
    margin-bottom: 4rem; }
    .skill-intro__title.dark {
      color: #FFF; }
    .skill-intro__title h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-weight: 400; }
    .skill-intro__title p {
      font-size: 1.5rem;
      line-height: 1.8;
      font-weight: 400; }
  .skill-intro__box {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .skill-intro__box {
        flex-direction: column;
        align-items: stretch; } }
  .skill-intro__left {
    flex: 1 1 30%;
    display: flex;
    align-items: center;
    color: #1B1F23; }
    @media only screen and (max-width: 56.25em) {
      .skill-intro__left {
        flex: 0;
        margin-bottom: 2rem; } }
    .skill-intro__left.dark {
      color: #FFF; }
    .skill-intro__left i {
      font-size: 6rem;
      margin-right: 2rem; }
      @media only screen and (max-width: 68.75em) {
        .skill-intro__left i {
          font-size: 4rem; } }
      @media only screen and (max-width: 56.25em) {
        .skill-intro__left i {
          font-size: 6rem; } }
    .skill-intro__left div h5 {
      font-family: 'Nunito', sans-serif;
      font-size: 1.8rem;
      font-weight: 600; }
      @media only screen and (max-width: 68.75em) {
        .skill-intro__left div h5 {
          font-size: 1.6rem; } }
      @media only screen and (max-width: 56.25em) {
        .skill-intro__left div h5 {
          font-size: 1.8rem; } }
    .skill-intro__left div p {
      font-family: 'Nunito', sans-serif;
      font-size: 1.6rem;
      font-weight: 300; }
      @media only screen and (max-width: 68.75em) {
        .skill-intro__left div p {
          font-size: 1.3rem; } }
      @media only screen and (max-width: 56.25em) {
        .skill-intro__left div p {
          font-size: 1.6rem; } }
  .skill-intro__right {
    flex: 0 0 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem 0; }
    @media only screen and (max-width: 56.25em) {
      .skill-intro__right {
        margin: 1rem 0;
        flex: 0; } }
    @media only screen and (max-width: 43.75em) {
      .skill-intro__right {
        grid-template-columns: 1fr; } }
  .skill-intro__item {
    padding: 2.5rem 1.5rem;
    display: flex;
    align-items: center;
    color: #1B1F23; }
    @media only screen and (max-width: 56.25em) {
      .skill-intro__item {
        padding: 2rem 1.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .skill-intro__item {
        padding: 2rem 0; } }
    .skill-intro__item.dark {
      color: #FFF; }
  .skill-intro__content {
    flex: 1; }
    .skill-intro__content div {
      display: flex;
      align-items: center; }
      .skill-intro__content div h6 {
        font-family: 'Nunito', sans-serif;
        font-size: 1.6rem;
        margin-right: .5rem; }
    .skill-intro__content p {
      font-family: 'Nunito', sans-serif;
      font-size: 1.3rem; }
      @media only screen and (max-width: 68.75em) {
        .skill-intro__content p {
          font-size: 1.2rem; } }
  .skill-intro__image {
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 1.5rem; }
    @media only screen and (max-width: 68.75em) {
      .skill-intro__image {
        width: 40px;
        height: 40px; } }
    .skill-intro__image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .skill-intro__badge {
    position: relative;
    padding: .1rem .8rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    border-radius: 2px; }
    .skill-intro__badge.work {
      background-color: #0066CC; }
    .skill-intro__badge.toy {
      background-color: #666; }
    .skill-intro__badge.study {
      background-color: #eb2f64; }

.project-header {
  background-color: #EBF2F2;
  color: #262A2D;
  font-family: 'Nunito', sans-serif; }
  .project-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem; }
    @media only screen and (max-width: 34.38em) {
      .project-header .container {
        justify-content: stretch;
        align-items: flex-start;
        flex-direction: column; } }
  .project-header.dark {
    background-color: #262A2D;
    color: #EBF2F2; }
  .project-header__title {
    font-size: 2rem;
    line-height: 1.8; }
    @media only screen and (max-width: 75em) {
      .project-header__title {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 43.75em) {
      .project-header__title {
        font-size: 1.6rem; } }
  .project-header__text {
    font-size: 1.8rem;
    font-weight: 500; }
    @media only screen and (max-width: 75em) {
      .project-header__text {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 43.75em) {
      .project-header__text {
        font-size: 1.5rem; } }
  .project-header__number {
    font-size: 2rem;
    color: #eb2f64;
    text-align: center;
    font-weight: 400; }
    @media only screen and (max-width: 75em) {
      .project-header__number {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 43.75em) {
      .project-header__number {
        font-size: 1.6rem; } }
  .project-header__right {
    padding-right: 3rem; }
    @media only screen and (max-width: 34.38em) {
      .project-header__right {
        display: none; } }
  .project-header__hidden {
    display: none;
    font-size: 1.2rem;
    font-weight: 400; }
    .project-header__hidden span {
      color: #eb2f64; }
    @media only screen and (max-width: 34.38em) {
      .project-header__hidden {
        display: block;
        margin-top: 1rem; } }

.project-body {
  background-color: #FFF;
  color: #1B1F23; }
  .project-body.dark {
    background-color: #1B1F23;
    color: #FFF; }
  .project-body .container {
    padding: 5rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 5rem; }
    @media only screen and (max-width: 750px) {
      .project-body .container {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 34.38em) {
      .project-body .container {
        grid-template-columns: 1fr;
        padding: 2rem; } }

.project-item {
  cursor: pointer;
  text-decoration: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-family: 'Nunito', sans-serif;
  color: #1B1F23;
  transition: all .2s ease-in-out; }
  .project-item.dark {
    color: #FFF; }
  .project-item:hover .project-item__image::before {
    opacity: 1; }
  .project-item__image {
    height: 24rem;
    position: relative; }
    .project-item__image::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(242, 242, 242, 0.3);
      z-index: 2;
      opacity: 0;
      transition: all .2s ease-in-out; }
    @media only screen and (max-width: 75em) {
      .project-item__image {
        height: 20rem; } }
    @media only screen and (max-width: 56.25em) {
      .project-item__image {
        height: 16rem; } }
    @media only screen and (max-width: 750px) {
      .project-item__image {
        height: 20rem; } }
    @media only screen and (max-width: 650px) {
      .project-item__image {
        height: 17rem; } }
    @media only screen and (max-width: 34.38em) {
      .project-item__image {
        height: 24rem; } }
    @media only screen and (max-width: 480px) {
      .project-item__image {
        height: 20rem; } }
    .project-item__image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .project-item__title {
    margin: 1.5rem 0 .3rem 0;
    font-size: 1.8rem;
    font-weight: 500;
    transition: all .2s ease-in-out; }
    @media only screen and (max-width: 75em) {
      .project-item__title {
        font-size: 1.5rem; } }
  .project-item__text {
    font-size: 1.3rem;
    line-height: 1.7; }
    @media only screen and (max-width: 75em) {
      .project-item__text {
        font-size: 1.2rem; } }
  .project-item__skills {
    display: flex;
    flex-wrap: wrap; }
    .project-item__skills *:not(:last-child) {
      margin-right: .6rem; }
  .project-item__skill {
    list-style: none;
    padding: .4rem .8rem;
    color: white !important;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    margin: .6rem 0; }

.work {
  background-color: #0066CC !important; }

.toy {
  background-color: #666 !important; }

.study {
  background-color: #eb2f64 !important; }

.paging {
  background-color: #FFF; }
  .paging.dark {
    background-color: #1B1F23; }
  .paging .container {
    padding: 6rem 2rem 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .paging .container > *:not(:last-child) {
      margin-right: 1rem; }
      @media only screen and (max-width: 34.38em) {
        .paging .container > *:not(:last-child) {
          margin-right: .5rem; } }
  .paging__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    font-family: 'Nunito', sans-serif;
    background-color: #FFF;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    color: #666;
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all .2s ease-in-out; }
    @media only screen and (max-width: 56.25em) {
      .paging__icon {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 34.38em) {
      .paging__icon {
        font-size: 1.3rem; } }
    .paging__icon:hover {
      box-shadow: inset 0 0 3rem #dadada; }
    .paging__icon.active {
      background-color: #0066CC;
      color: #FFF; }
      .paging__icon.active:hover {
        box-shadow: inset 0 0 3rem #0080ff; }

.gallery__image {
  height: 20rem;
  cursor: pointer;
  outline: none;
  transition: opacity .25s ease-in-out; }
  .gallery__image img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .gallery__image:hover {
    opacity: .7; }
